content
	1. content_id   /  placeholder
	2. content_name
	3. content_page_start
	4. content_page_stop
	5. content_tags
	6. content_description
	7. content_id_content_sub
content_sub
	1. content_sub_id
	2. content_sub_name
	3. content_sub_page_start
	4. content_sub_page_stop
	5. content_sub_tags
	6. content_sub_description
	

	<form action="" method="get">
		<input type="text" name="content_name" placeholder="Название главы"> <br>
		<input type="text" name="content_page_start" placeholder="Начало главы"> <br>
		<input type="text" name="content_page_stop" placeholder="Конец главы"> <br>
		<input type="text" name="content_tags" placeholder="Ключевые слова"> <br>
		<input type="text" name="content_description" placeholder="Краткое описание главы"> <br>
		<input type="submit" name="insert_to_content" value="Записать главу">
	</form>

